<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <main>
        <header>
            <section id="nav-section" class="main-section">
                <div class="nav-container">
                    <table>
                        <tr>
                            <td>
                                <a href="#nav-section">Basil Ok</a>
                                <a href="#about-section">About</a>
                                <a href="#projects-section">Projects</a>
                                <a href="#contact-section">Contact Me</a>
                                <a href=" ">Resume</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </header>

        <div class=spacer>
            <div class="welcome-container">
                <h1 id="welcome-header">Welcome to my website!</h1>
                <h2>Use these to quickly navigate my profiles.</h2>
                <figure class="welcome-image">
                    <a target="_blank" href="https://github.com/sjok101">
                        <img src="/img/github_logo.png" width="250vh">
                        <figcaption>Github</figcaption>
                    </a>
                </figure>
                <figure class="welcome-image">
                    <a target="_blank" href="https://www.linkedin.com/in/basil-ok/">
                        <img src="/img/linkedin_logo.png" width="250vh">
                        <figcaption>LinkedIn</figcaption>
                    </a>
                </figure>
                <figure class="welcome-image">
                    <a target="_blank" href="/img/BOK-Resume-240219.pdf">
                        <img src="/img/resume_logo.png" width="250vh">
                        <figcaption>Resume</figcaption>
                    </a>
                </figure>
                <h3>Scroll down to view my portfolio!</h3>
            </div>
        </div>

        <section id="about-section" class="main-section">

            <div class="about-container">
                <h2>About</h2>
                <h3>Greetings! My name is Basil Ok. I graduated from George Mason University with a BS in Computer
                    science.
                </h3>
                <p>I have just graduated from George Mason University this Winter 2023 with a BS in Computer Science and
                    I
                    have
                    been focusing my
                    studies and intent toward software development.
                <article>
                    <h4>Technical skills</h4>
                    <li>Experience with Java, Springboot</li>
                    <li>Experience with Javascript, React</li>
                    <li>Experience building prototypes in HTML and Scenebuilder</li>
                    <li>Experience with MySQL, MongoDB</li>


                </article>
                </p>
            </div>
        </section>

        <section id="projects-section" class="main-section">
            <div class="projects-container">
                <h2>Projects</h2>
                <h3>Take a look at some of the projects I've been working on!</h3>
                <figure class="project-image">
                    <a target="_blank" href="https://github.com/sjok101/text-based-battler">
                        <img src="/img/project1.png" id="project1">
                    </a>
                    <figcaption>Description:

                    </figcaption>
                </figure>
                <figure class="project-image">
                    <a target="_blank" href="https://github.com/sjok101/mySudokuGame">
                        <img src="/img/project2.png" id="project2">
                    </a>
                    <figcaption>Description:
                    </figcaption>
                </figure>
            </div>
        </section>

        <section id="contact-section" class="main-section">
            <div class="contact-container">
                <form id="messageForm" action="/send-message" method="POST">
                    <table>
                        <tr>
                            <td><label for="name"><input type="text" id="name" name="name"
                                        placeholder="Your Name"></label></td>
                            <td rowspan="3"><label for="message"><textarea id="message" name="message" rows="6"
                                        cols="50">Your Message</textarea></label>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="phone"><input type="text" id="phone" name="phone"
                                        placeholder="Your Phone"></label>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="email"><input type="text" id="email" name="email"
                                        placeholder="Your Email"></label>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" id="submit" form="messageForm">
                </form>
            </div>
        </section>



        <footer>
            <address>
                Webpage Author <a href="mailto:bok@gmu.edu">Basil Ok</a><br>
                Visit us here at:<br>
                <a href="https://mason.gmu.edu/~bok/swe432">mason.gmu.edu/~bok/swe432</a><br>
                8832 Fimbulton, Bjorg<br>
                Fjordlands<br>
            </address>
        </footer>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/index.js">
        </script>
    </main>

</body>

</html>