<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <main>
        <header>
            <section id="nav-section" class="main-section">
                <div class="nav-container">
                    <table>
                        <tr>
                            <td>
                                <a href="#nav-section">Basil Ok</a>
                                <a href="#about-section">About</a>
                                <a href="#projects-section">Projects</a>
                                <a href="#contact-section">Contact Me</a>
                                <a href=" ">Resume</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </header>

        <div class=spacer></div>

        <section id="about-section" class="main-section">

            <div class="about-container">
                <h2>About</h2>
                <h3>Greetings! My name is Basil Ok. I graduated from George Mason University with a BS in Computer
                    science.
                </h3>
                <p>I have just graduated from George Mason University this Winter 2023 with a BS in Computer Science and
                    I
                    have
                    been focusing my
                    studies and intent toward software development.
                <article>
                    <h4>Technical skills</h4>
                    <li>Experience with Java, Springboot</li>
                    <li>Experience with Javascript, React</li>
                    <li>Experience building prototypes in HTML and Scenebuilder</li>
                    <li>Experience with MySQL, MongoDB</li>


                </article>
                </p>
            </div>
        </section>

        <section id="projects-section" class="main-section">
            <div class="projects-container">
                <h2>Projects</h2>
                <h3>Take a look at some of the projects I've been working on!</h3>
                <figure>
                    <div id="project-1-div">
                        <img src="https://placehold.co/200x300" id="project1" class="project-image">
                        <figcaption><a target="_blank" href="https://github.com/sjok101/text-based-battler">Text-Based
                                Battler (React
                                Webapp Game)</a></figcaption>
                    </div>
                    <div id="project-2-div">
                        <img src="https://placehold.co/200x300" id="project2" class="project-image">
                        <figcaption><a target="_blank" href="https://github.com/sjok101/mySudokuGame">Sudoku Webapp
                                Game</a>
                        </figcaption>
                    </div>
                </figure>
            </div>
        </section>

        <section id="contact-section" class="main-section">
            <div class="contact-container">
                <form>
                    <table>
                        <tr>
                            <td><input type="text" id="requester" name="requester" placeholder="Your Name"></td>
                            <td rowspan="3"><textarea id="request" name="request" rows="6"
                                    cols="50">Your Message</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="requesterPhone" name="requesterPhone" placeholder="Your Phone">
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="requesterEmail" name="requesterEmail" placeholder="Your Email">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </section>



        <footer>
            <address>
                Webpage Author <a href="mailto:bok@gmu.edu">Basil Ok</a><br>
                Visit us here at:<br>
                <a href="https://mason.gmu.edu/~bok/swe432">mason.gmu.edu/~bok/swe432</a><br>
                8832 Fimbulton, Bjorg<br>
                Fjordlands<br>
            </address>
        </footer>


    </main>
</body>

</html>